.container{
      display: flex;
      flex-direction: row;
}


.box{
      display: flex;
      flex-direction: column;
      background-color: blueviolet;
      height: 30vh;
      width: 100vw;
}



.box2{
      display: flex;
      flex-direction: row;
      background-color: blueviolet;
      justify-content: flex-start;
      height: 30vh;
      width: 80vw; 
}

.fontp1{
      
      font-size: 130%;
      font-family: Arial, Helvetica, sans-serif;
      margin: 10px;

}

.h1{
      padding: 10px;
      font-size: 300%;
      font-family: 'Courier New', Courier, monospace;
}